@media screen and (max-width: 800px) {
  #sidebar {
    display: none;
  }

  .content {
    width: 100%;
  }

  #toogle-menu {
    display: block;
  }
}

@media screen and (min-width: 801px) {
  nav {
    display: block;
  }
}
