@import url(reset.css);
@import url(vars.css);
/* fontes:
  - Confortaa
 - Futura-pt
*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://use.typekit.net/qzx1khv.css');

.hidden {
  display: none;
}

body {
  position: relative;
  font-family: 'Comfortaa', sans-serif;
  background-color: var(--background);
  color: var(--text-color);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow: hidden;
  font-size: 0.9rem;
}

header {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 85px -80px black;
  padding: 1.5rem !important;
  height: fit-content;
  margin-bottom: 2rem;
}

.sem-menu-lateral {
  width: calc(100% - 3rem) !important;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.center {
  display: flex;
  align-self: center;
}

.container {
  background-color: var(--container-color);
  border-radius: 1rem;
  box-shadow: 0 0 85px -80px black;
  padding: 2.5rem;
}

#logotipo {
  height: 2.3rem;
  width: auto;
}

#usuario-info {
  display: inline-flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

#usuario-info__login {
  font-size: 0.9rem;
  font-weight: bolder;
}

#usuario-info__picture {
  height: 2.3rem;
  width: auto;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

#login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
button {
  font-family: 'Comfortaa', sans-serif;
  border: 1px solid transparent;
  padding: 1rem 1.5rem;
  border-radius: 500px;
  font-size: 0.9rem;
  background-color: var(--background);
}

#login .field input {
  width: 20rem;
}

input[type='submit'] {
  background-color: var(--primary);
  color: var(--container-color);
  font-weight: 700;
  box-shadow: 0 0 85px -20px black;
  width: 100%;
}

input[type='submit']:hover {
  box-shadow: 0 0 50px -15px black;
}

.validation-message {
  margin-left: 1rem;
  font-size: 0.9rem;
  color: rgb(207, 17, 17);
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary) !important;
  color: white;
  padding: 1.5rem !important;
  font-weight: 700;
  font-size: 1rem;
  width: 13rem;
  height: calc(100% - 2 * 1.5rem - 4 * 1rem);
}

body,
html {
  height: 100%;
}

.nav-item {
  padding: 1.7rem;
}

.nav-item:hover {
  transition: all ease 0.5s;
  transform: translateX(10px);
  text-shadow: 0 0 50px -15px black;
}

a,
a:link,
a:visited,
a:active {
  color: var(--container-color);
}

#content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 3 * 1rem - 13rem);
  gap: 1rem;
}

#login-section {
  width: 100%;
}

footer {
  background-color: white;
  color: rgb(24, 42, 75);
  text-align: center;
  padding: 10px;
  font-size: 0.8em;
  font-style: italic;
  position: fixed;
  width: 100vw;
  bottom: 0px;
  left: 0px;
}

.body-form {
  font-family: 'Comfortaa', sans-serif;
  background-color: var(--background);
  color: var(--text-color);
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  align-items: center;
}

.container-form {
  background-color: var(--container-color);
  border-radius: 2rem;
  box-shadow: 0 0 85px -80px black;
  padding: 2.5rem;
  display: block;
  position: flex;
  width: 42rem;
  align-self: center;
}

.div-nobreak {
  white-space: nowrap;
}

.multipla-escolha {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.botao-submit-pos {
  width: 10rem;
  display: flex;
}

.botao-submit {
  cursor: pointer;
}

.peep-button {
  padding: 0px;
  background-color: transparent;
  cursor: pointer;
}

footer {
  background-color: white;
  color: rgb(24, 42, 75);
  text-align: center;
  padding: 10px;
  font-size: 0.8em;
  font-style: italic;
  position: fixed;
  width: 100vw;
  bottom: 0px;
  left: 0px;
}

.body-form {
  font-family: 'Comfortaa', sans-serif;
  background-color: var(--background);
  color: var(--text-color);
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  align-items: center;
}

.container-form {
  background-color: var(--container-color);
  border-radius: 2rem;
  box-shadow: 0 0 85px -80px black;
  padding: 2.5rem;
  display: block;
  position: flex;
  width: 42rem;
  align-self: center;
}

.div-nobreak {
  white-space: nowrap;
}

.multipla-escolha {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.botao-submit-pos {
  width: 10rem;
  display: flex;
}

.botao-submit {
  cursor: pointer;
}

.peep-button {
  padding: 0px;
  background-color: transparent;
  cursor: pointer;
}
